@charset "UTF-8";

body {
    background-color: rgba(145, 238, 238, 0.582);
}

h1{
    color: rgb(2, 46, 46);
}

h1#principal {
    text-align: center;
    background-color: rgb(54, 190, 190);
    color: white;

}
h2 {
    color: rgb(6, 112, 112);
}

.basico {
    color: rgb(255, 0, 242);

}

.intermadiario {
    color: rgb(25, 0, 255);

}

.avancado {
    color: rgb(255, 136, 0);

}